.footer{
    display: flex;
    padding: 50px 20px;
   .footer-logo{
    width: 30%;
   } 
   .footer-info{
    .footer-menu{
        display: flex;
        >div{
            width: 33.333%;
            h3{
                padding-bottom: 10px;
                border-bottom: 1px solid #ccc;
                margin-bottom: 20px;
            }
        }
    }
    .footer-address{

        ul{
            display: flex;
            li{
                font-weight: bold;
                margin-right: 10px;
                position: relative;
                &:first-child:after{
                    content:"";
                    position: absolute;
                    width: 1px;
                    height: 10px;
                    background: #fff;
                    top: 6px;
                    right: -5px;
                }
            }
        }
        .address{margin-top: 20px; margin-bottom: 20px;
        color: rgba(255,255,255,.6)}
        .copyright{
            color: rgba(255,255,255,.6)
        }
    }
   }
}