.serviceMain{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin-bottom: 150px;
    .serviceVideo{
        width: 510px;
        height: 700px;
        video{
            width: 100%;
            height: 100%;
        }
    }
    .serviceText{
        width: 400px;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            font-size: 46px;
            letter-spacing: -4px;
            line-height: 180%;
        }
        p{
            font-size: 16px;
            line-height: 150%;
            font-weight: bold;
        }
        button{
            margin-top: 30px;
            padding: 15px 30px;
            background: #000;
            color: #fff;
            width:180px;
            font-weight: bold;
            letter-spacing: -2px;
            border-radius: 30px;
            display: flex;
            justify-content:space-between;
            align-items: center;

        }
    }
}