.detailspace-page{
    margin-top: 200px;
    padding: 0 30px;
    h2{
        font-size: 46px;
        font-weight: 600;   
    }
    p{
        margin-top: 30px;
        font-size: 16px;
    }
    .space-tabs{
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        gap:10px;
        button{
            padding: 10px 30px;
            border: 1px solid #ccc;
            background-color: #fff;
           border-radius: 30px;
            &.active{
                background: #ccc;
                color: #000;
            }
        }
       
    }
    .space-images{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 300px);
        gap:20px;
        margin-bottom: 100px;
        img{
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    }
}