.space{
    padding: 30px;
  .title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    h2{
        font-size: 45px;
    }
    button{
        padding: 10px 20px;
        background: #000;
        color: #fff;
        font-weight: bold;
        border-radius: 30px;
        border: none;
    }
  }  
  .spaceContent{
    .mySwiper{
        height: 500px;
        .sw{
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .space_title{
                margin-top:30px;
                font-size: 24px;
                 font-weight: bold;
                 margin-bottom: 20px;;
            }
            .space_dec{
                margin-bottom: 30px;
            }
            .space_price{
                font-size: 16px;
                font-weight: bold;
            }
        }
    }

  }
}
