.header{
  width: 100%;
  height: 100px;
  background: transparent;
  padding: 0 30px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  .logo{
    margin-right: 100px;
    a{
      display: block;
      width: 157px;
      height: 50px;
      border-radius: 30px;
      &:hover{
        background: rgba(0,0,0,.1);
      }
    }
  }
  nav{
    ul{
      display: flex;
      gap: 30px;
      li{
        a{
          font-weight: bold;
          position: relative;
        }
        &:last-child a:after{
          content:"EASY";
          position: absolute;
          background: #f6df9c;
          font-size: 12px;
          border-radius: 8px;
          padding: 3px 6px;
          left: 67px;
        }
      }
    }
  }
  &.scrolled{
    background: #fff;
  }
}

.mySwiper{
  width: 100%;
  height: 100vh;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.swiper-button-prev, .swiper-button-next {
    
    color: #fff;
}
.swiper-pagination-bullet-active {
   
    background: #fff;
}



.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 100px;
}


.footer{
  background: #000;
  width: 100%;

  color: #fff;
}